*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.classpath
.project
.idea
target
bin
.settings
out
tmp
.springBeans
/.project
/.classpath
rebel.xml